[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
flask = "*"
pytest = "*"
pytest-freezegun = "*"
pandas = "*"
boto3 = "*"
s3fs = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
